/.idea
/.gradle

/target
/target-intelliJ
/*/target
/*/target-intelliJ
/esco-assembly/*/target
/esco-assembly/*/target-intelliJ

/*.iml
/*/*.iml
/esco-assembly/*/*.iml

/esco-assembly/*/overlays

/**/resources/rebel.xml
*~
/bin/

.classpath
.project
/.settings/
/build/
