<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!--<link rel="icon" href="../../favicon.ico">-->

  <title>Mapping report</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    body {
      /*padding-top: 10px;*/
      padding-bottom: 30px;
    }

    .theme-dropdown .dropdown-menu {
      position: static;
      display: block;
      margin-bottom: 20px;
    }

    .theme-showcase > p > .btn {
      margin: 5px 0;
    }

    .theme-showcase .navbar .container {
      width: auto;
    }

    .rating {
      opacity: 0.8;
    }

    .score-1 {
      background: #58c300;
    }

    .score-2 {
      background: #75c300;
    }

    .score-3 {
      background: #9cc300;
    }

    .score-4 {
      background: #c6c300;
    }

    /*.six .rating {*/
    /*background: #e9c000;*/
    /*}*/

    .score-5 {
      background: #feb200;
    }

    .score-6 {
      background: #ff9500;
    }

    .score-7 {
      background: #ff6f00;
    }

    .score-8 {
      background: #ff4500;
    }

    .score-9 {
      background: #ff1f00;
    }
  </style>
</head>

<body role="document">

<div class="container">
  <ul class="nav nav-pills" style="margin-bottom: 20px;">
    <li class="nav active"><a href="#mapping" data-toggle="tab">Mapping ESCO to NOC</a></li>
    <li class="nav"><a href="#summary" data-toggle="tab">Summary </a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade in active" id="mapping">
      <div class="col-sm-12" th:each="escoMatch, rowStat : ${escoMatches}">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title" style="margin-bottom: 10px;"><span th:text="${rowStat.index + 1} + '. '"></span>
              <span
                      style="font-size: smaller;"
                      th:if="${!escoMatch.getEscoMatchPairs().isEmpty()}"
                      th:text="${escoMatch.getEscoMatchPairs().get(0).esco.getIscoCodeString()}"
                      >C5432</span>
              <span
                      th:text="${escoMatch.getEscoMatchPairs().isEmpty() ? escoMatch.uri : escoMatch.getEscoMatchPairs().get(0).esco.prefLabel}"
                      >Hoofd receptie hotel</span>
              (<span th:text="${escoMatch.getEscoMatchPairs().isEmpty() ? '' : escoMatch.getEscoMatchPairs().get(0).esco.prefLabelEn}">English preferred label</span>)

              <img width="25" height="16"
                   src="https://ec.europa.eu/ploteus/sites/eac-eqf/files/EuropeanCommissionlinks.jpg"/>

              <div class="label rating pull-right"
                   th:classappend="${escoMatch.getEscoMatchPairs().isEmpty() ? '' : 'score-' + escoMatch.getEscoMatchPairs().get(0).rank.display}"
                   th:text="${escoMatch.uri}">http://pes.nl/uwv/beroep/concept/1000400489
              </div>
            </h3>
            <div style="margin-bottom: 10px;" th:if="${!escoMatch.getEscoMatchPairs().isEmpty()}">
              <button type="button" class="btn btn-xs btn-primary"
                      th:each="shortText : ${escoMatch.getEscoMatchPairs().get(0).esco.shortText}"
                      th:text="${shortText}">Short text
              </button>
            </div>
            <div th:utext="${escoMatch.getEscoMatchPairs().isEmpty() ? '' : escoMatch.getEscoMatchPairs().get(0).esco.descriptionEn}"
                    >Description en
            </div>
          </div>
          <div class="panel-body">
            <h2 th:if="${escoMatch.getEscoMatchPairs().isEmpty()}">
              <span class="label label-warning">Nothing found!</span>
            </h2>

            <div class="col-md-12">
              <table class="table table-condensed" style="margin-bottom: 0;">
                <tbody>
                <tr th:each="escoMatchPair, stats : ${escoMatch.getEscoMatchPairsFilteredOnRankAndCount(8, 7)}">
                  <td style="width: 25px;" align="center" class="rating "
                      th:classappend="${'score-' + escoMatchPair.rank.display}"
                      th:text="${escoMatchPair.rank.display}">1
                  </td>
                  <td th:text="${escoMatchPair.pes.iscoCodeString}">C5432</td>
                  <td style="min-width: 200px;" th:text="${escoMatchPair.pes.prefLabel}">PES pref label</td>
                  <td th:text="${escoMatchPair.pes.altLabels}">PES alt labels</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="summary">
      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>Mapping scoring average: <span th:text="${#numbers.formatDecimal(average, 0, 2)}">999</span></h4>
          </div>
          <div class="panel-body">
            <table class="table table-condensed" style="width: 500px;">
              <tbody>
              <tr th:each="summary : ${escoSummary}">
                <td th:text="${summary.key.displayText}">id</td>
                <td th:text="${summary.value.size()}">count</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
